<%= form_with(model: log, local: true) do |form| %>
  <% if log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 

 <div class="square sm">
   <div class="square-row">
   <%= form_with(model: log, local: true) do |f|%>
  
    <% for id in 1..6 %>
    
     <div class="symbol"><%if hash.key?(id)%><input type="checkbox" class="custom-checkbox" name="" id="<%=id%>" ><%end%>
      <label for="" class="checkbox-label" ><%=hash[id]%></label></div>
      
    <%end%>
 </div>
  <div class="square-row">
    <% for id in 7..12 %>
   
    <div class="symbol"> <%if hash.key?(id)%><input type="checkbox" class="custom-checkbox" name="" id="<%=id%>"><%end%>
      <label for="" class="checkbox-label" ><%=hash[id]%></label></div>
   
    <%end%>

   </div>
  
 </div>  
  <div class="actions">
    <%= form.submit %>
  </div>
  <%end%>
 <% end %>
  