<%= form_with(model: log, scope: :log, local: true) do |f| %>
  <% if log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 

 <div class="square sm">
   <div class="square-row">
    <% for id in 1..6 %>
     <div class="symbol">
<%=f.check_box "h#{id}", {class:"custom-checkbox"}, hash[id], 0 if hash.key?(id)%>
    
      <label for="" class="checkbox-label" ><%=hash[id]%></label></div>
      
    <%end%>
 </div>
  <div class="square-row">
    <% for id in 7..12 %>
   
    <div class="symbol"> <%if hash.key?(id)%><input type="checkbox" class="custom-checkbox" name="h<%=id%>" value="a"><%end%>
      <label for="" class="checkbox-label" ><%=hash[id]%></label></div>
   
    <%end%>

   </div>
  
 </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
 <% end %>
  