<p id="notice"><%= notice %></p>

<h1>Logs</h1>


 <% @logs.each do |log| %>
<%= render 'square', hash: @habits_hash %>     
    <% end %>
  </tbody>
</table>
<%= current_user.habits.inspect %>
<%#<%= render 'square' %>
<br>
<%= @hash %>
<%= link_to 'New Log', new_log_path %>
<%= link_to 'Home Page', root_path %>
