<%= form_with(model: habit, local: true) do |form| %>
<div class="container">
  <% if habit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(habit.errors.count, "error") %> prohibited this habit from being saved:</h2>
      <ul>
      <% habit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= form.label :habit %>
<%= form.text_field :name %>

<%= form.label :habit_symbol %>


<%= form.text_field :symbol %>


<%= form.label :position %>


<%= form.text_field :position %>

  <div class="actions">
    <%= form.submit %>
  </div>
  </div>
<% end %>
